@charset "UTF-8";
/* VARIABLES */
/* ICON-FONTS PARA EL INGRESO Y SALIDA DE CARROS */
@font-face {
  src: url("font-icons/cars.ttf");
  font-family: 'cars'; }
/* UNIVERSAL STYLES */
body {
  background-color: #FFFFFF;
  background-color: #F2F2F2; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  cursor: default; }

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

::selection {
  background-color: #ef9d00;
  color: #ffffff; }

.menuHover {
  background-color: #EF9D00 !important; }
  .menuHover.active::after {
    border-color: transparent transparent transparent #EF9D00 !important; }

.iconHover {
  color: white !important;
  transform: translateX(-50%) translateY(-75%) !important; }

.menuInfoHover {
  color: white !important;
  bottom: 20px !important;
  opacity: 1 !important; }

.inputHover {
  border-bottom: 3px solid #FFA800 !important; }

/* NOTIFICACI├ôN STYLES */
@keyframes aparece {
  0% {
    opacity: 0;
    top: 10%; }
  50%, 80% {
    opacity: 1;
    top: 15%; }
  100% {
    opacity: 0;
    top: 20%;
    display: none;
    visibility: hidden; } }
.notificacion {
  text-align: center;
  background-color: #FFA800;
  padding: 25px;
  position: fixed;
  z-index: 20;
  top: 15%;
  left: 50%;
  transform: translateY(-15%) translateX(-50%);
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  animation: aparece 1.5s;
  animation-fill-mode: forwards; }
  .notificacion h3 {
    margin: 0;
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 18px;
    line-height: 25px; }

/* MENU STYLES */
#menu {
  background-color: #273238;
  min-height: 100vh;
  position: fixed;
  display: none;
  text-align: center;
  padding: 0;
  width: 80px;
  transform: translateX(-100%);
  z-index: 2; }
  #menu ul {
    list-style: none;
    padding-left: 0; }
    #menu ul li {
      cursor: pointer;
      position: relative;
      height: 100px;
      border-bottom: 2px solid #161c1f;
      transition: all .25s; }
      #menu ul li.barra-horizontal {
        width: 100vw;
        height: 70px;
        border-bottom: none;
        background-color: #3f515c !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        cursor: default;
        position: relative; }
        #menu ul li.barra-horizontal img {
          height: 50px;
          width: auto;
          position: absolute;
          left: 15px;
          right: auto;
          top: 50%;
          transform: translateY(-50%); }
        #menu ul li.barra-horizontal h1 {
          margin: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          cursor: text;
          left: 140px;
          font-size: 22px;
          text-transform: uppercase;
          font-family: "Oswald", sans-serif;
          letter-spacing: 1px;
          color: #FFA800; }
      #menu ul li h4 {
        color: #EF9D00;
        font-size: 13px;
        position: absolute;
        margin: 0;
        bottom: 0px;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: bottom .5s;
        font-family: 'Oswald', sans-serif; }
      #menu ul li.active {
        background-color: #FFA800;
        border-bottom: none; }
        #menu ul li.active i.fa,
        #menu ul li.active i.cars {
          color: #c38000; }
      #menu ul li.active::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 15px;
        border-color: transparent transparent transparent #FFA800;
        position: absolute;
        right: -15px;
        left: auto;
        top: 50%;
        transform: translateY(-50%); }
      #menu ul li i.fa,
      #menu ul li i.cars {
        color: #161c1f;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: transform .5s; }
      #menu ul li i.cars {
        font-family: 'cars';
        font-size: 38px;
        left: 35px;
        width: 40px;
        height: 45px; }

/* CONTENIDO STYLES */
.inputsDeshabilitados {
  border-bottom: 1px solid #de9200 !important;
  background-color: #f3f3f3 !important; }

.labelsDeshabilitados {
  color: #cbcbcb !important;
  margin-left: 10px !important;
  transition: all .25s !important; }

textarea {
  width: 100%;
  margin-top: 10px; }

#contenido {
  padding-top: 15px;
  padding-bottom: 30px;
  font-family: "Oswald", sans-serif;
  position: relative;
  z-index: 1; }
  #contenido .deshabilitar-wrapper {
    position: relative;
    left: 30px;
    cursor: pointer;
    width: 225px;
    margin-bottom: 40px; }
    #contenido .deshabilitar-wrapper .btn-deshabilitar {
      width: 16px;
      height: 16px;
      background-color: transparent;
      border: 1px solid #FFA800;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -30px;
      right: auto; }
      #contenido .deshabilitar-wrapper .btn-deshabilitar:before {
        transition: scale .25s;
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) scale(0);
        background-color: #FFA800;
        transition: all .25s; }
      #contenido .deshabilitar-wrapper .btn-deshabilitar.habilitado:before {
        transform: translateX(-50%) translateY(-50%) scale(1); }
  #contenido .seccion-formulario,
  #contenido .fichas {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 30px 30px; }
  #contenido h2 {
    font-size: 35px;
    margin-bottom: 40px;
    color: #FFA800;
    padding-left: 0; }
    #contenido h2:after {
      content: "";
      width: 120px;
      height: 2px;
      background-color: #FFA800;
      position: absolute;
      bottom: -20px;
      top: auto;
      left: 0;
      right: auto; }
  #contenido .fichas-wrapper {
    padding: 0;
    position: relative; }
    #contenido .fichas-wrapper h2 {
      color: #FFA800;
      margin-top: 53px; }
      #contenido .fichas-wrapper h2:after {
        bottom: auto;
        top: 111px; }
  #contenido .fichas {
    background-color: #FFA800;
    text-align: center; }
    #contenido .fichas h3 {
      color: white;
      border-bottom: none;
      font-size: 60px;
      margin: 0; }
  #contenido #btn-procesar-wrapper {
    padding: 0;
    position: relative;
    z-index: 6; }
  #contenido .btn-procesar {
    text-align: center;
    background-color: #FFA800;
    border: none;
    color: white;
    margin-top: 53px;
    width: 100%;
    padding: 0px 5px;
    border-radius: 4px;
    line-height: 60px;
    cursor: pointer;
    font-size: 22px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
  #contenido span.requerido {
    color: #FFA800;
    margin-left: 2px; }
  #contenido .form-group {
    position: relative; }
  #contenido label {
    position: absolute;
    top: auto;
    bottom: 0;
    transition: bottom .25s; }
    #contenido label#fechaLabel {
      bottom: 25px; }
  #contenido input {
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid #FFA800;
    padding-left: 0;
    margin-bottom: 25px;
    margin-left: 0;
    transition: all .5s; }
    #contenido input#busqUsuario, #contenido input#busqUltimoUsuario {
      margin: 0; }
  #contenido #camera-wrapper {
    text-align: center; }
  #contenido img#foto,
  #contenido #camara,
  #contenido #camaraSalidas,
  #contenido img#fotoBusquedaUsu,
  #contenido img#fotoBusquedaUltUsu {
    border: 2px solid #FFA800;
    width: 100%;
    height: auto;
    min-height: 340px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 20px; }
  #contenido #buscarUsuarios div.form-group {
    padding-left: 0; }
  #contenido .btnCam {
    text-align: center;
    cursor: pointer;
    background-color: #FFA800;
    color: white;
    border-radius: 4px;
    padding: 10px 0; }
  #contenido .resultadoBusquedaUsu {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0;
    font-size: 15px; }
    #contenido .resultadoBusquedaUsu span {
      font-weight: normal;
      font-size: 14px; }
  #contenido #buscarFichas #numVehiculos {
    text-align: center;
    background-color: #FFA800;
    color: white;
    font-size: 60px; }
  #contenido #buscarFichas #info {
    margin-top: 45px; }
  #contenido #buscarFichas .vehiculoEstacionado:not(:last-child) {
    margin-bottom: 20px; }
  #contenido #buscarFichas #btnRecargar {
    margin: 20px 0;
    text-align: center;
    background-color: #FFA800;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

/* BOTONES EXTRA */
.infoVisible {
  opacity: 1 !important;
  right: 75px !important;
  visibility: visible !important; }

.btn-extras {
  position: fixed;
  right: 20px;
  left: auto;
  top: auto;
  bottom: 30px;
  z-index: 2; }
  .btn-extras .ayuda,
  .btn-extras .info {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #FFA800;
    border-radius: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: all .25s;
    position: relative;
    z-index: 2; }
    .btn-extras .ayuda:hover,
    .btn-extras .info:hover {
      background-color: #EF9D00;
      transform: scale(1.1); }
  .btn-extras .info {
    margin-top: 20px; }
  .btn-extras i.fa {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .btn-extras .info-wrapper,
  .btn-extras ayuda-wrapper {
    position: relative; }
  .btn-extras .burbujaExtrasInfo,
  .btn-extras .burbujaExtrasAyuda {
    cursor: default;
    width: 300px;
    position: absolute;
    left: auto;
    right: 45px;
    bottom: -20px;
    top: auto;
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    font-family: "Oswald", sans-serif;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all .25s;
    z-index: 1;
    visibility: hidden; }
    .btn-extras .burbujaExtrasInfo :after,
    .btn-extras .burbujaExtrasAyuda :after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      box-sizing: border-box;
      border: 10px solid black;
      border-color: transparent transparent white white;
      box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.2);
      top: 50%;
      transform: translateY(-50%) rotate(-135deg);
      left: auto;
      right: -10px; }
    .btn-extras .burbujaExtrasInfo p,
    .btn-extras .burbujaExtrasAyuda p {
      margin: 0; }
  .btn-extras .burbujaExtrasAyuda {
    bottom: 60px; }

/* INFORMACI├ôN LATERAL DE VEH├ìCULOS */
.desplegado {
  right: 0 !important; }

.infoVehiculo {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 300px;
  background-color: #273238;
  left: auto;
  right: -300px;
  transition: all .25s;
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px 15px 30px 15px; }
  .infoVehiculo img {
    margin-bottom: 30px; }
  .infoVehiculo .informacion {
    text-align: left;
    margin-bottom: 10px; }
    .infoVehiculo .informacion h3 {
      padding: 0;
      font-family: "Oswald", sans-serif;
      font-size: 14px; }
  .infoVehiculo .separador {
    height: 1px;
    width: 240px;
    background-color: #FFA800;
    margin: 5px 15px 15px 15px; }
  .infoVehiculo .tiempoEstadia {
    position: absolute;
    background-color: #c38000;
    padding: 10px 0;
    width: 300px;
    top: auto;
    bottom: 56px;
    left: 0;
    right: auto; }
    .infoVehiculo .tiempoEstadia h3 {
      margin: 0;
      font-size: 16px;
      font-family: "Oswald", sans-serif;
      color: white; }

.btnCerrarInfoVehiculo {
  padding: 0;
  position: absolute;
  top: auto;
  bottom: 0;
  background-color: #FFA800;
  color: white;
  z-index: 11;
  font-family: "Oswald", sans-serif;
  left: 0;
  right: auto;
  cursor: pointer;
  padding: 15px;
  transition: all .25s; }
  .btnCerrarInfoVehiculo h3 {
    margin: 0;
    cursor: pointer; }
  .btnCerrarInfoVehiculo:hover {
    background-color: #EF9D00; }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  #menu {
    display: block;
    transform: translateX(0); }

  #contenido {
    padding-top: 100px; } }

/*# sourceMappingURL=main.css.map */
